/* import fonts.css */
@import url(fonts.css);

/* root */

:root {

    /* Font family*/
    --poppins : 'Poppins', sans-serif;
    --abril : 'Abril Fatface', cursive;
    --comforta : 'Comfortaa', cursive;
    --righteous : 'Righteous', cursive;

    /* Theme Color */

    --theme-primary : #0E050F;
    --theme-secondary :#170B3B;
    --theme-third : #341948;
    --theme-fourth : #9388A2;

}
